body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#ffd43b;
    padding:25px;
    border-radius:15px;
    width:320px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    color:black;
    margin-bottom:20px;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:5px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:black;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#333;
}

#result{
    margin-top:20px;
    color:black;
}body{
    margin:0;
    padding:0;
    font-family:Arial;
    background:#f7f7f7;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    background:#ffd43b;
    padding:25px;
    border-radius:15px;
    width:320px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    text-align:center;
}

h1{
    color:black;
    margin-bottom:20px;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:10px;
    border:none;
    border-radius:5px;
    font-size:16px;
}

button{
    width:100%;
    padding:12px;
    margin-top:15px;
    background:black;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#333;
}

#result{
    margin-top:20px;
    color:black;
}