body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    color:white;
    font-family:Arial,sans-serif;
}

.container{
    text-align:center;
}

h1{
    color:#ffd700;
}

#countdown{
    font-size:40px;
    font-weight:bold;
    margin-top:20px;
}
