body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    color:white;
    font-family:Arial, sans-serif;
}

h1{
    font-size:3rem;
}

#typing{
    color:#ffd700;
    border-right:3px solid #ffd700;
    padding-right:5px;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    50%{
        border-color:transparent;
    }
}